!!! 5
html
head
    link(href='http://fonts.googleapis.com/css?family=Press+Start+2P', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='styles/styles.css')
    script(src='javascripts/lib/jquery-1.8.2.min.js')
    script(src='javascripts/lib/underscore.js')
    script(type='text/javascript', src='javascripts/lib/jquery-ui-1.8.23.custom.min.js')
    script(type='text/javascript', src='javascripts/setup.js')

    script(type="text/javascript", src="javascripts/midiplayer.js")
    script(type="text/javascript", src="javascripts/lib/jasmid/replayer.js")
    script(type="text/javascript", src="javascripts/lib/jasmid/midifile.js")
    script(type="text/javascript", src="javascripts/lib/jasmid/stream.js")
    script(type="text/javascript", src="javascripts/lib/jasmid/synth.js")
    script(type="text/javascript", src="javascripts/lib/jasmid/audio.js")

    link(type='text/css', href='styles/jquery-ui-1.8.23.custom.css', rel='stylesheet')

  body.grid
    .arrow-down
    .top_section  DR. MOJO
    .pane
      #leader_board
        table
          thead
            tr
              th
              th SCORE
              th LEVEL
              th NAME
          tbody
      .option
        #level_title.title  VIRUS LEVEL
        #level_amount.levels.amount.level-number  0
        .sliders
          #level_slider
            canvas#level_canvas(width='400', height='100')
      .option
        #speed_title.title  SPEED
        .sliders
          #speed_slider
          .options
            p.left LOW
            p.center MED
            p.right HI
      .option
        #music_title.title  MUSIC TYPE
        .sliders
          #music_slider
          .options
            p.left FEVER
            p.center CHILL
            p.right OFF
      #play (HIT ENTER TO PLAY)
