html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
html {	
  background-image: url('../images/bg.png');
}
body {
  line-height: 1;
  max-width: 100%;
  overflow: hidden;
  }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html {
  font-family: 'Press Start 2P', cursive; }

#hold {
  text-align: center;
  margin: 0px auto; }

#shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2000; }

#shadingText {
color: white;
text-align: center;
margin-top: 200px;
width: 100%;
}

#shadingText{
  width: 640px;
  height: 300px;
  margin: 150px auto;
  font-size: 16px;
  p{ margin: 30px; }
  dt{
    float:left;
    text-align:right;
    width: 100px;
    margin: 15px auto;
    clear: both;
  }
  dd{
    float:right;
    text-align:left;
    width: 450px;
    margin: 15px auto;
  } 
}

#instructions {
  display: none;
}

.controls{
  display: none;
  width: 640px;
  height: 300px;
  margin: 150px 0px;
  font-size: 12px;
}

.helps{
  display:block;
  position:absolute;
  bottom:0;
  right:0;
  width:150px;
  background:#eee;
  border:1px solid #ddd;
}

/**//**//**//**//**//**//**//**/
/*  Begin Eli's New Styling   */
/**//**//**//**//**//**//**//**/

#columnOne, #columnTwo, #columnThree {
width: 33.3%;
display: inline;
height: 100%;
float: left;
}

.clipboardTop {
height: 80px;
margin: -45px auto 0 auto;
text-align: center;
}

.clipboardTop img {
	width: 50%;
	max-width: 256px;
}

#clipboardLeft {	
background-color: #BDBDFF;
width: 80%;
border-top: solid 10px #FFBD00;
border-bottom: solid 10px #FFBD00;
border-left: solid 20px #FFBD00;
border-right: solid 20px #FFBD00;
margin: 60px auto 0 auto;
border-radius: 20px;
font-size: 1.5em;
box-shadow: 0 0 0 3px black;
}

#highscore {
border: 2px solid black;
border-bottom: none;
padding: 30px 15px 10px 15px;
margin-top: -35px;
}

#score {
border: 2px solid black;
border-top: none;
padding: 10px 15px 20px 15px;
}

.score {
padding-top: 5px;
text-align: right;
}

.clipboardBottom {
background-color: #FFBD00;
box-shadow: 0 0 0 3px black;
border-radius: 20px;
height: 50px;
width: 89%;
margin: -45px auto 0 auto;
z-index: -10;
position: relative;
}

#dancingViruses {
width: 86%;
margin: 50px auto;
}

#dancingViruses img {
height: auto;
position: absolute;
width: 26.5%;
z-index: -1;
}

#magnifyingGlass {
padding-left: 8.3%;
padding-top: 2.4%;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#animatedViruses {
width: 23.5% !important;
-webkit-animation-name: rotate;
-webkit-animation-duration: 60s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
}

#game {
margin: 0 auto;
width: 60%;
border: 20px solid #00efde;
border-radius: 20px;
background-color: black;
border-image: url(../images/game_border.png) 20 20 20 20 round round;

/* Safari Game Canvas Bug Fix */
	background-image: url('../images/game_border.png');
	background-size: 99999999999999999px;
	background-position: center;
}


#gameTop {
background-image: url('../images/game_top.png');
background-position: center;
background-repeat: no-repeat;
height: 100px;
width: 100%;
margin: 60px auto -22px auto;
position: relative;
}

#clipboardRight {
  background-color: #BDBDFF;
  width: 80%;
  border-top: solid 10px #FFBD00;
  border-bottom: solid 10px #FFBD00;
  border-left: solid 20px #FFBD00;
  border-right: solid 20px #FFBD00;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 0.5em;
  box-shadow: 0 0 0 3px black;
  .info{
    font-size: 2.5em;
  }
  #level_count{
    margin-top: 10px;
    padding-right: 15px 50px;
    text-align: right;
  }
  #speed_count{
    margin-top: 10px;
    padding-right: 15px 50px;
    text-align: right;
  }
  #viruses{
    margin-top: 10px;
    padding-right: 15px 50px;
    text-align: right;
  }
}


#HUD {
border-radius: 20px;
background-color: black;
border: 2px solid #FFBD00;
width: 90%;
margin: 40px auto 75px auto;
min-height: 175px;
}

#HUD p {
text-align: center;
padding: 15px 0 12px 0;
border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

#oracle {
position: fixed;
right: 4%;
margin: 25px -125px 0 0;
}

.grid{
  background-color: #febf01;
  background-size:60px 60px;
  background-position:0 0, 30px 30px;
  padding: 50px;

  background-image: -webkit-linear-gradient(45deg, #ff0084 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, #ff0084 75%, #ff0084),
  -webkit-linear-gradient(45deg, #ff0084 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, #ff0084 75%, #ff0084);
  background-image: -moz-linear-gradient(45deg, #ff0084 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0)),
            -moz-linear-gradient(-45deg, #ff0084 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0));
  background-image: linear-gradient(45deg, #ff0084 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0)),
            linear-gradient(-45deg, #ff0084 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0));
  background-image: -o-linear-gradient(45deg, #ff0084 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0)),
            -o-linear-gradient(-45deg, #ff0084 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0));
  background-image: -ms-linear-gradient(45deg, #ff0084 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0)),
            -ms-linear-gradient(-45deg, #ff0084 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0));
}

.top_section{
  top: 0px;
  height: 16px;
  width: 250px;
  border-radius: 10px;
  color: red;
  margin: 0px auto;
  background: black;
  padding: 15px;
  margin-bottom: -14px;
  text-align: center;
  position: relative;
  z-index: 2;
  border: 14px solid brown;
  border-image: url(../images/game_border2.png) 20 20 20 20 round round;
  background-image: url("../images/game_border2.png");
  background-size: 99999999999999999px;
  background-position: center;
  border-bottom: 0px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.pane{
  width: 55%;
  background: black;
  padding: 5%;
  color: #FFF;
  margin: 0px auto;
  border-radius: 10px;
  min-width: 400px;
  position: relative;
  border: 14px solid brown;
  border-image: url(../images/game_border2.png) 20 20 20 20 round round;
  background-image: url("../images/game_border2.png");
  background-size: 99999999999999999px;
  background-position: center;
  z-index: 1;

  .border{
    border: 3px solid #CC7A29 !important;
    padding: 5px;
    width: 200px;
    border-radius: 6px;
  }

  .option{
    margin: 70px 40px;
    .title{
      border: 3px solid transparent;
      width: 200px;
      color: #FFB870;
      padding: 7px;
      clear: both;
      margin: 30px 0px;
    }
    .players{
      float: left;
      width: 10%;
    }
    .sliders{
      float: left;
      width: 60%;
      p{
        color: white;
      }
      .left{float: left;}
      .center{
        text-align: center;
        margin-left: 20px;}
      .right{
        float: right;
        left: 100%;
        margin-right: -27px;
        margin-top: -18px;}
    }
    .levels{
      float: right;
      width: 10%;
      margin: -50px;
    }
    .speeds{
      float: left;
      width: 10%;
      margin-left: 25px;
    }
    .musics{
      float: left;
      width: 10%;
      margin-left: 25px;
    }
    #play{
      float: right;
      margin-right: 10px;
    }
  }
}

.level-number{
  float: right;
  border: 3px solid #0f0;
  border-radius: 5px;
  -moz-border-radius:5px;
  width: 40px;
  height: 20px;
  text-align: center;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{
  width: 320px;
}

.ui-slider-handle.ui-state-default.ui-corner-all{
  background: black;
  margin: -16px 0px;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent; 
  border-top: 20px solid #B2B26B;
  border-bottom: 0px solid #B2B26B;
  outline: none;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{
  background: black;
  content: "LOW MED HI";
  border: 0px;
  align-text: justify;
}