@import "compass";
@import "compass/reset";

html {
  font-family: 'Press Start 2P', cursive;
}

#game {
  float: left;
  margin: 0px auto;
  display: block;
  border: solid 7px #ACACAC;
  @include border-radius(4px);
  @include box-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

#hold {
  width: 800px;
  text-align: center;
  margin: 0px auto;
  .controls {
    float: right;
    width: 480px;
    height: 300px;
    overflow:hidden;
    margin: 150px 0px;
    font-size: 12px;
    dt {
      float:left;
      text-align:right;
      width:100px;
      margin: 15px auto;
      clear: both;
    }
    dd{
      float:right;
      text-align:left;
      width:350px;
      margin: 15px auto;
    }
  }
}

#viruses {
  position: fixed;
  top: 0px;
  right: 10px;
  height: 40px;
  width: 40px;
  font-size: 45px;
  text-align: center;
}

#oracle {
  margin: 15px 250px;
  position: absolute;
}

#shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2000;
}

#shadingText {
  color: white;
  text-align: center;
  margin: 250px;
  width: 600px;
  p {
    margin: 12px;
  }
}

#instructions{
  display: none;
}