html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
html {	
  background-image: url('../images/bg.png');
}
body {
  line-height: 1;
  max-width: 100%;
  overflow: hidden;
  }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html {
  font-family: 'Press Start 2P', cursive; }

#hold {
  text-align: center;
  margin: 0px auto; }

#shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2000; }

#shadingText {
color: white;
text-align: center;
margin-top: 200px;
width: 100%;
}
  #shadingText p {
    margin: 30px; }

#instructions {
  display: none; }

/**//**//**//**//**//**//**//**/
/*  Begin Eli's New Styling   */
/**//**//**//**//**//**//**//**/

#columnOne, #columnTwo, #columnThree {
width: 33.3%;
display: inline;
height: 100%;
float: left;
}

.clipboardTop {
height: 80px;
margin: -45px auto 0 auto;
text-align: center;
}

.clipboardTop img {
	width: 50%;
	max-width: 256px;
}

#clipboardLeft {	
background-color: #BDBDFF;
width: 80%;
border-top: solid 10px #FFBD00;
border-bottom: solid 10px #FFBD00;
border-left: solid 20px #FFBD00;
border-right: solid 20px #FFBD00;
margin: 60px auto 0 auto;
border-radius: 20px;
font-size: 1.5em;
box-shadow: 0 0 0 3px black;
}

#highscore {
border: 2px solid black;
border-bottom: none;
padding: 30px 15px 10px 15px;
margin-top: -35px;
}

#score {
border: 2px solid black;
border-top: none;
padding: 10px 15px 20px 15px;
}

.score {
padding-top: 5px;
text-align: right;
}

.clipboardBottom {
background-color: #FFBD00;
box-shadow: 0 0 0 3px black;
border-radius: 20px;
height: 50px;
width: 89%;
margin: -45px auto 0 auto;
z-index: -10;
position: relative;
}

#dancingViruses {
width: 86%;
margin: 50px auto;
}

#dancingViruses img {
height: auto;
position: absolute;
width: 26.5%;
z-index: -1;
}

#magnifyingGlass {
padding-left: 8.3%;
padding-top: 2.4%;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#animatedViruses {
width: 23.5% !important;
-webkit-animation-name: rotate;
-webkit-animation-duration: 60s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
}

#game {
margin: 0 auto;
width: 60%;
border: 20px solid #00efde;
border-radius: 20px;
background-color: black;
border-image: url(../images/game_border.png) 20 20 20 20 round round;

/* Safari Game Canvas Bug Fix */
	background-image: url('../images/game_border.png');
	background-size: 99999999999999999px;
	background-position: center;
}

#gameTop {
background-image: url('../images/game_top.png');
background-position: center;
background-repeat: no-repeat;
height: 100px;
width: 100%;
margin: 60px auto -22px auto;
position: relative;
}

#clipboardRight {
background-color: #BDBDFF;
width: 80%;
border-top: solid 10px #FFBD00;
border-bottom: solid 10px #FFBD00;
border-left: solid 20px #FFBD00;
border-right: solid 20px #FFBD00;
margin: 0 auto;
border-radius: 20px;
font-size: 0.5em;
box-shadow: 0 0 0 3px black;
}

.controls {
padding: 20px 10px;
border: 2px solid black;
margin-top: -35px;
}

.controls dt {
padding-top: 15px;
font-weight: bold;
}

.controls dd {
padding-top: 5px;
line-height: 1.5em;
}

#HUD {
border-radius: 20px;
background-color: black;
border: 2px solid #FFBD00;
width: 90%;
margin: 40px auto 75px auto;
min-height: 175px;
}

#HUD p {
text-align: center;
padding: 15px 0 12px 0;
border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

#viruses {
position: fixed;
top: 130px;
right: 4%;
font-size: 2em;
text-align: right;
color: white;
}

#viruses:before {
content: 'Viruses:';
color: white;
text-align: left;
}

#oracle {
position: fixed;
right: 4%;
margin: 25px -125px 0 0;
}

#viruses:after {
content: 'Up Next:';
color: white;
text-align: right;
padding-left: 40px;
}